.sidebar {
  position: fixed;
  top: 50px;
  width: 239px;
  background: #19171c;
  height: 100vh;
}

.titreSidebar {
  padding: 30px 0 20px 0;
  font-size: 15px;
  font-weight: 500;
  color: #efebf5;

}

.listeStream {
  padding-left: 10px;
  color: #efebf5;
}

.containerFlexSidebar {
  padding: 10px 15px 8px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.containerFlexSidebar:hover {
  background: rgba(255, 255, 255, 0.2)
}

.profilePicRonde {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.streamUser {
  color: #f1f1f1;
  flex-basis: 50%;
  overflow: hidden;
  text-align: left;
}

.gameNameSidebar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aeabb6;
  text-align: left;
  margin-top: 5px;
}

.viewerRight {
  color: #aeabb6;
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.pointRouge {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 3px;
  background: crimson
  ;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
